<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>編集</title>
</head>

<body>
    <h1>編集</h1>
    <form action="/teams/update/<%= id %>" method="POST">
        構築名: <input type="text" name="name" value="<%= data.name %>"><br>

        <h3>1匹目</h3>
        ポケモン名: <input type="text" name="p1_name" value="<%= data.p1_name %>"><br>
        詳細: <textarea name="p1_info" rows="3" cols="50"><%= data.p1_info %></textarea><br>

        <h3>2匹目</h3>
        ポケモン名: <input type="text" name="p2_name" value="<%= data.p2_name %>"><br>
        詳細: <textarea name="p2_info" rows="3" cols="50"><%= data.p2_info %></textarea><br>

        <h3>3匹目</h3>
        ポケモン名: <input type="text" name="p3_name" value="<%= data.p3_name %>"><br>
        詳細: <textarea name="p3_info" rows="3" cols="50"><%= data.p3_info %></textarea><br>

        <br>
        <input type="submit" value="更新">
    </form>
</body>

</html>