<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/style.css">
    <title>詳細</title>
</head>

<body>
    <header>
        <a href="/" style="text-decoration:none;">
            <span style="color:white; font-weight:bold; font-size:1.1rem; margin-left:20px;">
                Webプログラミング課題
            </span>
        </a>
    </header>
    <h1>
        <%= data.name %> の詳細
    </h1>

    <div class="pokemon-grid">
        <div class="pokemon-card">
            <div class="pokemon-name">1. <%= data.p1_name %>
            </div>
            <div class="pokemon-info"> <%= data.p1_info %> </div>
        </div>
        <div class="pokemon-card">
            <div class="pokemon-name">2. <%= data.p2_name %>
            </div>
            <div class="pokemon-info"> <%= data.p2_info %> </div>
        </div>
        <div class="pokemon-card">
            <div class="pokemon-name">3. <%= data.p3_name %>
            </div>
            <div class="pokemon-info"> <%= data.p3_info %> </div>
        </div>
    </div>

    <div class="btn-group">
        <a href="/teams/edit/<%= id %>" class="btn btn-success">編集</a>
        <a href="/teams/delete/<%= id %>" class="btn btn-danger" onclick="return confirm('本当に削除してよろしいですか？');">削除</a>
        <a href="/teams" class="btn btn-secondary">戻る</a>
    </div>
</body>

</html>